<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="static/vhod.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
</head>
<body>
    <a href="#" class="back-arrow">&#8592;</a>
    <img src="static/Aitu3.png" alt="Aitu logo" class="top-right-logo">
    <div class="container">
        <h1>ВХОД В СИСТЕМУ</h1>
        <form>
            <input type="text" placeholder="Номер телефона" required>
            <input type="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
    </div>
    <img src="static/wait33.png" alt="wait logo" class="bottom-center-logo">
</body>
</html>