<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="static/vvod_dannyh.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Введите данные</title>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <a href="#" class="back-arrow">&#8592;</a>
    <img src="static/Aitu3.png" alt="Aitu logo" class="top-right-logo">
    <div class="container">
        <h1>ВВЕДИТЕ ДАННЫЕ</h1>
        <form>
            <div class="form-row">
                <input type="text" placeholder="Имя" required>
                <input type="text" placeholder="Фамилия" required>
            </div>
            <input type="text" placeholder="Номер телефона" required>
            <select required>
                <option disabled selected>Цель визита</option>
                <option value="Консультация">Консультация</option>
                <option value="Подача документов">Подача документов</option>
            </select>
            <select required>
                <option disabled selected>Выберите:</option>
                <option value="Долговременная запись">Запись по времени</option>
                <option value="Живая очередь">Живая очередь</option>
            </select>
            <button type="submit">Записаться</button>
        </form>
    </div>
    <img src="static/wait33.png" alt="wait logo" class="bottom-center-logo">
</body>
</html>
